# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Laravel
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/public/hot
backend/public/storage
backend/storage/pail
backend/.phpactor.json
backend/.phpunit.result.cache
backend/.fleet
backend/.idea
backend/.nova
backend/.phpunit.cache
backend/.vscode
backend/.zed
backend/auth.json
backend/Homestead.json
backend/Homestead.yaml

# PHP
*.log
